type cne_service,                 service_manager_type;
type imscm_service,               service_manager_type;
type qchook_service,              service_manager_type;

# App Lock
type applock_service, system_api_service, system_server_service, service_manager_type;
